// main server configuration
package {{.Package}}.config;

import org.springframework.stereotype.Component;

import com.assurant.inc.stereotype.AEBJerseyConfig;
import com.assurant.inc.stereotype.EnableSwagger;

@Component
@EnableSwagger(basePath="{{.BasePath}}", version="{{.ServiceVersion}}", description={{QuoteString .Description}}, resourcePackage="{{.Package}}.endpoints",
contact="{{.ContactEmail}}", termsOfServiceUrl="{{.LicenseName}}")
public class JerseyConfig extends AEBJerseyConfig
{
	public JerseyConfig()
	{
		super()
	}
}
